body {
    padding-top: 70px;
    background-image: url ("http://www.bloomu.edu/images/gradschool/college-student-affairs/2015-MaySelfieStick.jpg");
}

h1 {
  font: white;
}

table {
  margin-top: 10px;
}

/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}
